version: "3.8"
services:
  nginx:
    container_name: nginx
    build: ./nginxold
    ports:
      - "80:80"
    depends_on:
      - app1

  ## OLD ARCHITECTURE
  app1:
    container_name: app1
    restart: always
    build: ./ServerOld
    ports:
      - "5001:5000"
    volumes:
      - .:/code
    expose:
      - "5001"
    mem_limit: 128M
    cpus: 0.6
  mongo:
    container_name: mongo
    image: mongo:latest
    command: mongod --port 27017 --wiredTigerCacheSizeGB 0.25
    ports:
      - "27017:27017"
    mem_limit: 256M
    cpus: 0.2