{% extends "base.html" %}
<!-- Additional includes -->
{% block head %} {% endblock %}
<!-- Body content -->
{% block body %}

<h3>Monitoring Page</h3>
<div id="data"class="row"></div>

{% endblock %}
<!-- Javascript -->
{% block scripts %}

<script>
var serverURL = `${window.location.protocol}//${window.location.hostname}`;
var dataDiv = document.getElementById("data");
var staffarray = [];

function loaddata()
{
  $.ajax({
    url: `${serverURL}/retrieveformonitoring`,
    type: "GET",
    crossDomain: true,
    contentType: "application/json; charset=utf-8",
    headers: {
      'Access-Control-Allow-Credentials' : true,
      'Access-Control-Allow-Origin':'*',
      'Access-Control-Allow-Methods':'GET',
      'Access-Control-Allow-Headers':'application/json',
    },
    success: function (res) {
      var data = res.data;
      staffarray = [];
      dataDiv.innerHTML = '';

      for (const i in data) {
        if (staffarray.includes[data[i]["staff_id"]])
        {
          staffarray.appendChild(data[i]["staff_id"]);
        }
        else
        {
          const div = document.createElement('div');
          div.className = 'col s3 m3 l3';
          div.innerHTML = `
          <h5>Staff id: ` + data[i]["staff_id"] + `</h5>
          <p>Recent Locations:</p>
          <div class="inside-item">
            <p>level: ` + data[i]["level"] + `</p>
            <p>Location: ` + data[i]["location"] + `</p>
            <p>Timestamp: ` + data[i]["timestamp"] + `</p>
            <p>Rssi: ` + data[i]["rssi"] + `</p>
            <p>mac: `+ data[i]["mac"]+ `</p>
          </div>
          `;
          dataDiv.appendChild(div);
        }
      }
      
    },
  });
}
// every 15 min = 900000ms
setInterval(loaddata, 1000);



</script>
{% endblock %}
