{% extends "base.html" %}
<!-- Additional includes -->
{% block head %} {% endblock %}
<!-- Body content -->
{% block body %}

<h1>Monitoring Page</h1>
<div class="row">
  {% for dic in data %}
  <div class="col s3 m3 l3">
    <h2>Staff id: {{dic["staff_id"]}}</h2>
    <p>Recent Locations:</p>
    <div class="inside-item">
      <p>level: {{dic["level"]}}</p>
      <p>Location: {{dic["location"]}}</p>
      <p>Timestamp: {{dic["timestamp"]}}</p>
      <p>Rssi: {{dic["rssi"]}}</p>
      <p>mac: {{dic["mac"]}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
<!-- Javascript -->
{% block scripts %}

<script>
var serverURL = `${window.location.protocol}//${window.location.hostname}`
 
$.ajax({
  url: `${serverURL}/retrieveformonitoring`,
  type: "GET",
  contentType: "application/json; charset=utf-8",
  success: function (res) {
    console.log(res);
  },
});

</script>
{% endblock %}
